@import 'stylesheets/colors';
@import 'stylesheets/TwitterFeed';
@import 'stylesheets/Tweet';

.red-text {
  color: red;
}

.row-box {
  display: block;
}

.small-8.small-centered.columns.tweetbox {
  border: 1px solid black;
  margin-top: 10px;
}
